:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}
* {
  margin: 0;
  padding: 0;
}
section {
  margin: auto;
  display: flex;
  justify-content: center;
}
body, .learn {
  font-size: 0.938rem;
  font-family: "Lexend Deca", sans-serif;
  background: var(--Very-light-gray);
}
.card-holder {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: auto;
  margin-top: 9rem;
  transition: all 0.3s ease-in-out;
}
.card {
  width: 12.5rem;
  padding: 3rem;
  color: #fff;
}
.learn{
  background: var(--Very-light-gray);
  border: 2px solid transparent;
  padding: 0.625rem 1.25rem;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.4s ease-in-out;
}
.learn:hover{
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
.card h1 {
  font-family: "Big Shoulders Display", cursive;
  margin: 1rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--Very-light-gray);
}
.card p {
  margin: 1rem 0;
  line-height: 1.5;
  color: var(--Transparent-white);
}
.sedan {
  background: var(--bright-orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sedan button{
  color: var(--bright-orange);
}
.suv {
  background: var(--dark-cyan);
}
.suv button{
  color: var(--dark-cyan);
}
.luxury {
  background: var(--very-dark-cyan);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.luxury button{
  color: var(--very-dark-cyan);
}
@media screen and (max-width: 600px) {
  .card-holder {
    flex-wrap: wrap;
  }
  .sedan {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .luxury {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }
}